S3method(as.list,matrix)
S3method(interleave,data.frame)
S3method(interleave,default)
S3method(interleave,matrix)
S3method(justify,data.frame)
S3method(justify,default)
S3method(justify,matrix)
S3method(tocharac,data.frame)
S3method(tocharac,default)
S3method(tocharac,matrix)
export(enclose)
export(expand)
export(interleave)
export(justify)
export(paste.matrix)
export(plim)
export(tocharac)
import(stringr)
